* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    opacity: 1;
    height: 100vh;
    width: 100vw;
    color: #f391c7;
}


.background {
    width: 100vw;
    height: 50vh;
    background-image: url(/images/images.jpg);
    background-size: cover;
    background-position: 0 0;
    opacity: 0.8;
    z-index: -1;
}

.info-box {
    z-index: 100;
    position: absolute;
    width: 350px;
    height: 450px;
    margin-left: 10vw;
    margin-top: 20vh;
    padding: 20px;
    background: #402B3A;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
}

h2 {
    font-size: 1.5em;
    line-height: 1.3;
}

p,
label {
    font-size: 1em;
}

h2,
p {
    padding: 10px;
}

.info-box h2,
p {
    color: #F8F4EC;
    margin-bottom: 5px;
    text-align: center;
}

label {
    left: 10px;
    color: #FF9BD2;
    margin-bottom: 5px;
}

form {
    display: grid;
    gap: 10px;
}

input {
    line-height: 2;
    border: 1px solid #f391c7;
}

button {
    background: #f391c7;
    color: #d62d81;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 10vw;
    margin-bottom: 5px;
}

button:hover {
    background-color: #d62d81;
    color: #f391c7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    font-style: italic;
}

@media (max-width: 750px) {
    .info-box {
        height: auto;
        max-width: 80vw;
        padding: 15px;
        font-size: 14px;
        margin: 0 auto;
        margin-top: 15vh;
        margin-left: 10vw;
    }

    button {
        width: 100%;
    }

    form {
        margin-top: 5vh;
    }

    h2 {
        font-size: 2.5em;
    }

    p,
    label {
        font-size: 1em;
    }
}